#main-navbar {
    background-color: blue;
    overflow: hidden;
    position: relative;
	width: 100%;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

#main-navbar ul li {
    float: left;
}

#main-navbar ul li a {
    display: block;
    padding: 10px 20px;
    color: #ffff;
    text-decoration: none;
}

#main-navbar ul li a:hover {
    background-color: #000;
}

#navbar-container {
    float: left;
    left: 50%;
    position: relative;
    display: block;
}

#sidebar {
    position: fixed;overflow: 
    hidden;right:0%;
    float: left;
    background-color: red;
    width: 100%;height: 100%;
    position: relative;
    width: 20%;
}

#sidebar-container ul{
    list-style-type: none;
    margin: 0;text-align: center;
    padding: 0;
}