h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(163, 110, 163);
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}

body {
    background-image: url(../images/background.jpg);
}

