h1 {
    color:whitesmoke;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

body {
    font-family: 'Oswald', sans-serif;
    color:whitesmoke;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
    position: relative;
}

#earth {
    max-width: 50%;
    max-height: 100%;
}

#mars {
    max-width: 65%;
    max-height: 100%;
}

#saturn {
    max-width: 110%;
    max-height: 100%;
    left: -0.8em;
}

#neptune {
    max-width: 102%;
    max-height: 100%;
}

#planet-names {
    font-size: larger;
    opacity: .85;
    background-color: rgb(75,0,130);
    box-sizing: border-box;
    padding-top: .2em;
    padding-bottom: .2em;
}
.datafieldNames{
    padding: .2em .5em .2em .5em;
    text-align: right;
}

.dataFields {
    padding: .2em .5em .2em .5em;
    max-width: 25%;
}

.rows {
    padding: 0.5em;
    background-color: rgb(147,112,219);
    opacity: .8;
    color:whitesmoke;
    box-sizing: border-box;
    border-top: transparent;
    border-bottom: .05em;
    border-bottom-style: solid;
    border-bottom-color: lavender;
}

.rows:hover {
    background-color: rgb(153,50,204);
}
