/* First same style element */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

nav li{
    float:left;
}

nav a{
    display: flow-root;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: slategray;
}

/* Second same style element */
body{
    font-family: 'Oswald', sans-serif;
    background-color:lightcyan;
}

/* Third same style element */
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    padding: 20px;
}

/* Fourth same style element */
.contact {
    list-style-type: none;
    margin-left: 22em;
    margin-right: 20em;
    padding: 15px 20px 15px 20px;
    overflow: hidden;
    text-align: center;
    border-top: 1px;
    border-top-color: dimgray;
    border-top-style: solid;
    border-bottom: 1px;
    border-bottom-color: dimgray;
    border-bottom-style: solid;
    background-color: white;
    opacity: 0.7;
}

.contact li{
    display: inline;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-weight: 700;
    border-right: 2px;
    border-right-color: dimgray;
    border-right-style: solid;
}

.contact a{
    display: inline-block;
}



/* First different element on 1st pg*/
.resumePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.top {
    background-color: azure;
    padding-bottom: 10px;
}

/* First different element in 3rd pg */
div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.galleryDesc {
    padding: 15px;
    text-align: center;
    background-color: white;
  }
